
.boardDetailPage
.columnsList .card {
  width: 30vw;
  margin: 20px;
  text-align: center;
}

.boardDetailPage
.columnsList {
  display: flex;
  flex-direction: row;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50vw;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  color: white;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}


header .searchForm {
  margin-right: 20vw;
}

header .greeting {
  margin-right: 20px;
}

header #profile-dropdown {
  margin-right: 50px;
}
