.dashboardPage,
.boardsList .card {
  width: 18rem;
  margin-right: 20px;
}

.dashboardPage,
.boardsList {
  display: flex;
}

.dashboardPage {
  margin: 2rem;
}

.dashboardPage .add-button {
  min-width: 13.125rem;
  height: 13.125rem;
  margin-right: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50vw;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  color: white;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

/* login page */
.text-center {
  text-align: center;
}

.loginPage {
  width: 412px;
  margin: 10vh auto;
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.loginPage form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}
.loginPage .social-login {
  display: flex;

  justify-content: space-around;
}
.loginPage .social-btn {
  font-weight: 100;
  color: white;
  width: 160px;
  font-size: 0.9rem;
}

.loginPage button[type="submit"] {
  margin-top: 10px;
}

.loginPage .facebook-btn {
  background-color: #3c589c;
}

.loginPage .google-btn {
  background-color: #df4b3b;
}
.loginPage input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.loginPage .svg-inline--fa.icon {
  margin-right: 0.5rem;
}

.loginPage .btn-login,
.loginPage .btn-signup {
  width: 15rem;
}

.loginPage .btn-container {
  display: flex;
  justify-content: center;
}

/* signup page */

.signupPage {
  width: 412px;
  margin: 10vh auto;
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.signupPage form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}

.signupPage .social-btn {
  font-weight: 100;
  color: white;
  width: 190px;
  font-size: 0.9rem;
}

.signupPage button[type="submit"] {
  margin-top: 10px;
}

.signupPage .facebook-btn {
  background-color: #3c589c;
}

.signupPage .google-btn {
  background-color: #df4b3b;
}
.signupPage input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signupPage .svg-inline--fa.icon {
  margin-right: 0.5rem;
}

.signupPage .btn-login,
.signupPage .btn-signup {
  width: 15rem;
}

.signupPage .btn-container {
  display: flex;
  justify-content: center;
}
